
.grid {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgrey;    
}
.grid div {
    height: 40px; 
    width: 40px;
    text-align: center;
    vertical-align: middle;

}

body {   
background: url(Minesweeperstuff/window.png) no-repeat;
background-size: cover;
height: 100vh;
backdrop-filter: blur(3px);
}

.solid {
    height: 40px;
    width: 40px;
    border: 5px solid;
    border-color: #ffffff #7B7B7B #7B7B7B #ffffff;
    background-color: #C0C0C0;
    box-sizing: border-box;

  }
.checked {
    background-color: #C0C0C0;
    font-size: 80%;
    text-align: center ;
    border: 2px solid;
    font-family: 'Press Start 2P', cursive;
    box-sizing: border-box;
}
.flex-container {
    display: flex;
    justify-content: center;
  
     
}

.bomb {
    background-color:C0C0C0;
    height: 40px;
    width: 40px;
   border: 5px solid;
   border-color: #ffffff #7B7B7B #7B7B7B #ffffff;
   box-sizing: border-box;
}

